
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Archivo', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

.app {
  
  margin-bottom: 2rem;

  @include mobile {
    padding: 0 2rem;
  }
}
