.btn {
  outline: none;
  border: 1px solid black;

  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;

  text-transform: uppercase;

  transition: 0.5s;
  cursor: pointer;
  
  border-radius: 3px;
  &__light {
    color: #000;
    transition: all 0.5s ease;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__dark {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: unset;
      color: #000;
    }
  }
}
