// @import '../../sass/global.scss';
.categories {
  margin-top: 5rem;

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @include mobile {
      position: unset;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      width: 100%;
      height: 33rem;
      object-fit: cover;
      transition: all 0.4s ease-in-out;
      transform: scale(1);

      @include mobile {
        display: none;
      }
    }

    h4 {
      @include mobile {
        position: unset;
        transform: unset;
      }

      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);

      background-color: #ece8e6;
      padding: 1rem 1rem;
      font-size: 1.5rem;

      border: 1px solid #ececec;
      text-transform: uppercase;

      text-align: center;
      color: $txt-color;

      &::before {
        content: '';
        position: absolute;
        border: 1px solid #fff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 1;
        margin: -0.6rem;
      }
    }
  }
}
