// @import '../../sass/global.scss';

// @import '../../sass/grid.scss';

.header {
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10.5%;

  @include mobile {
    padding: 2rem 2%;
  }

  .options {
    display: flex;
    align-items: center;

    &__item {
      margin-left: 1.7rem;
      position: relative;
      cursor: pointer;
      color: $txt-color;

      &:not(:first-child):before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -0.8rem;

        width: 1px;
        height: 1.2rem;
        background-color: #888;
      }

      &--icon {
        font-size: 1.5rem;
      }
      &--link {
        font-size: 1.7rem;
        color: inherit;

        &:hover::before {
          width: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;

          width: 0;
          height: 1.5px;
          background: #222;

          transition: all 0.5s linear;
        }
      }
    }
  }
}
.fixed {
  padding: 0 10.5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);

  transition: all 0.2s ease;
  @include mobile {
    padding: 0 3%;
  }

  // transition: all 0.3s ease;
  animation: fadeInDown 0.5s ease-in-out 0s 1 normal none running;

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
